<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="/iam/users"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Users
  </a>
  <a mat-tab-link
     routerLink="/iam/tenants"
     routerLinkActive #rlb="routerLinkActive"
     [active]="rlb.isActive">
    Tenants
  </a>
  <a mat-tab-link
     routerLink="/iam/roles"
     routerLinkActive #rlc="routerLinkActive"
     [active]="rlc.isActive">
    Roles
  </a>
  <a mat-tab-link
     routerLink="/iam/apps"
     routerLinkActive #rld="routerLinkActive"
     [active]="rld.isActive">
    Apps
  </a>
  <a mat-tab-link
     routerLink="/iam/tokens"
     routerLinkActive #rle="routerLinkActive"
     [active]="rle.isActive">
    OAuth2 Tokens
  </a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
