<div class="centered-card vertical-container">
  <mat-card class="vertical-center">
    <mat-card-header>
      <mat-title>
        <h4 class="mat-display-1">Select Application</h4>
      </mat-title>
      <mat-icon aria-label="Lock" color="accent">apps</mat-icon>
      <h4>Select App</h4>
    </mat-card-header>

    <mat-card-content>
      <a mat-button href="../../../../../.." class="btn-block">
        <span class="circle" style="background-color: #ff4081;">C</span>
        Courier Services
      </a>
      <a mat-button href="#" class="btn-block">
        <span class="circle" style="background-color: #eeeeee;">T</span>
        Travel Services
      </a>
      <a mat-button href="#" class="btn-block">
        <span class="circle" style="background-color: #eeeeee;">L</span>
        Lodging
      </a>
      <a mat-button href="#" class="btn-block">
        <span class="circle" style="background-color: #eeeeee;">R</span>
        Road Freight
      </a>
    </mat-card-content>
  </mat-card>
</div>
