.circle {
  border-radius: 50%;
  font-size: 24px;
  margin: 10px;
  width: 32px;
  color: white;
  text-align: center;
  display: inline-block;
  background: #000;
}

.mat-card-content a {
  width: 100%;
  text-align: left;
}

