version: '3.7'
services:
  migrator:
    build:
      dockerfile: Dockerfile
      context: ./app-migrator
    environment:
      PG_HOST: $PG_HOST
      PG_PORT: $PG_PORT
      PG_DATABASE: $PG_DATABASE
      PG_USER: $PG_USER
      PG_PASSWORD: $PG_PASSWORD
      PG_TEST_HOST: $PG_TEST_HOST
      PG_TEST_PORT: $PG_TEST_PORT
      PG_TEST_DATABASE: $PG_TEST_DATABASE
      PG_TEST_USER: $PG_TEST_USER
      PG_TEST_PASSWORD: $PG_TEST_PASSWORD
  importer:
    build:
      dockerfile: Dockerfile
      context: ./app-importer
    environment:
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      PG_HOST: $PG_HOST
      PG_PORT: $PG_PORT
      PG_DATABASE: $PG_DATABASE
      PG_USER: $PG_USER
      PG_PASSWORD: $PG_PASSWORD
      PG_TEST_HOST: $PG_TEST_HOST
      PG_TEST_PORT: $PG_TEST_PORT
      PG_TEST_DATABASE: $PG_TEST_DATABASE
      PG_TEST_USER: $PG_TEST_USER
      PG_TEST_PASSWORD: $PG_TEST_PASSWORD
  olap:
    build:
      dockerfile: Dockerfile
      context: ./app-olap
    environment:
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      PG_HOST: $PG_HOST
      PG_PORT: $PG_PORT
      PG_DATABASE: $PG_DATABASE
      PG_USER: $PG_USER
      PG_PASSWORD: $PG_PASSWORD
      PG_TEST_HOST: $PG_TEST_HOST
      PG_TEST_PORT: $PG_TEST_PORT
      PG_TEST_DATABASE: $PG_TEST_DATABASE
      PG_TEST_USER: $PG_TEST_USER
      PG_TEST_PASSWORD: $PG_TEST_PASSWORD
  react-app:
    build:
      dockerfile: Dockerfile
      context: ./react-app
