<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="over">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a class="logo" routerLink="">
          <app-logo></app-logo>
        </a>
        <span class="spacer"></span>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <button mat-button routerLink="/user-access" color="primary" routerLinkActive="mat-accent">
      <mat-icon class="mat-icon-large">perm_identity</mat-icon>
      Identity & User management
    </button>
    <button mat-button routerLink="/apps" color="primary" routerLinkActive="mat-accent">
      <mat-icon class="mat-icon-large">apps</mat-icon>
      Applications
    </button>
    <button mat-button routerLink="/auth/tenant" color="primary" routerLinkActive="mat-accent">
      <mat-icon class="mat-icon-large">supervised_user_circle</mat-icon>
      Tenant selection
    </button>

  </mat-drawer>

  <div class="sidenav-content">
    <ng-template #drawerToggle>
      <ng-container *ngIf="!drawer.opened">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="logo" routerLink="">
          <app-logo></app-logo>
        </a>
      </ng-container>
    </ng-template>
      <app-header [placeholderRef]="drawerToggle"></app-header>
    <router-outlet></router-outlet>
  </div>


</mat-drawer-container>
