.loadable-container {
    position: relative;
}

.loadable-content {
    /*filter: blur(1px);*/
}

.loadable-spinner {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

.loadable-spinner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 49%;
    top: 49%;
}
