<h2>Edit</h2>
<form [formGroup]="editForm" *ngIf="true"  (ngSubmit)="onSubmit()">
  <ng-container class="block-input" *ngFor="let key of formKeys()">
    <ng-container [ngSwitch]="getType(formTemplate[key])">

      <ng-container *ngSwitchCase="columnType.SELECT">
        <mat-form-field class="block-input" [formGroup]="editForm" *ngIf="selectValues[key]">
          <mat-label>{{ formTemplate[key].columnLabel || key }}</mat-label>
          <mat-select multiple [formControlName]="key" [(value)]="entity[key]">
            <mat-option *ngFor="let item of selectValues[key]" [value]="item[formTemplate[key].value]">
              {{ formTemplate[key].formattedValue ? formTemplate[key].formattedValue(item[formTemplate[key].displayValue]) : item[formTemplate[key].displayValue] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <mat-form-field class="block-input">
          <mat-label>{{ formTemplate[key].columnLabel || key }}</mat-label>
          <input matInput [formControlName]="key">
        </mat-form-field>
      </ng-container>

    </ng-container>
  </ng-container>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="btn-block"
    [disabled]="!editForm.valid"
  >
    Submit
  </button>
</form>


