<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-title>
        <h4 class="mat-display-1">DataCube</h4>
      </mat-title>
      <mat-icon aria-label="Lock" color="accent">apps</mat-icon>
      <h4>Select App</h4>
    </mat-card-header>

    <a mat-button href="../" class="btn-block">
      <span class="circle" style="background-color: #ff4081;">C</span>
      Courier Services
    </a>
    <a mat-button href="#" class="btn-block">
      <span class="circle" style="background-color: #eeeeee;">T</span>
      Travel Services
    </a>
    <a mat-button href="#" class="btn-block">
      <span class="circle" style="background-color: #eeeeee;">L</span>
      Lodging
    </a>
    <a mat-button href="#" class="btn-block">
      <span class="circle" style="background-color: #eeeeee;">R</span>
      Road Freight
    </a>
  </mat-card>
</div>
