.gridSpinnerInactive tbody tr {
    display: table-row;
}

.gridSpinnerInactive .gridSpinner {
    display: none;
}

.gridSpinnerActive tbody tr {
    display: none;
}

.gridSpinnerActive .gridSpinner {
    display: table-row;
}