<div class="centered-card vertical-container">
  <mat-card class="vertical-center">
    <mat-card-header>
      <mat-title>
        <h4 class="mat-display-1">DataCube</h4>
      </mat-title>
      <mat-icon aria-label="Lock" color="accent">supervisor_account</mat-icon>
      <h4>Select tenant</h4>
    </mat-card-header>

    <div *ngIf="false">
      <mat-spinner style="margin:0 auto;"></mat-spinner>
    </div>

    <p *ngIf="tenants.length === 0">
      You have no tenants assigned. Please contant administrator
    </p>

    <form class="example-form" *ngIf="!isLoading">
      <mat-form-field style="width: 100%">
        <mat-label>Select a tenant</mat-label>
        <mat-select (selectionChange)="onSubmit($event)">
          <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">
            {{tenant.schemaName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <p style="text-align: center">
      <a mat-button routerLink="/login" color="primary" routerLinkActive="active">
        Or try to use different account.
      </a>
    </p>
  </mat-card>
</div>
