.crud-table-container {
  position: relative;
  min-height: 200px;
}

.crud-table-container .crud-table {
  max-height: 300px;
  /*max-height: calc(100vh - 175px);*/
  overflow: auto;
}

.crud-table-container table {
  height: 100%;
  width: 100%;
}

.crud-table-container tr.mat-footer-row {
  font-weight: bold;
}

.crud-table-container .mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.crud-table-container .loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
