<div class="crud-table-container">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="crud-table">
    <table mat-table [dataSource]="data" class="crud-table-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <ng-container [matColumnDef]="item" *ngFor="let item of columnDefinition()">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ item }}</th>
        <td mat-cell *matCellDef="let row">{{ row[item] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnDefinition()"></tr>
      <tr mat-row *matRowDef="let row; columns: columnDefinition();"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>
