<div class="crud-table-container">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="crud-table">
    <table mat-table [dataSource]="data" class="crud-table-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <ng-container [matColumnDef]="key" *ngFor="let key of getColumnKeys()">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            disableClear>{{ columnDefinition[key]?.label || key }}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="columnDefinition[key].type">
            <ng-container *ngSwitchCase="columnType.MULTI_SELECT">
              <ng-container
                [ngTemplateOutlet]="multiValue"
                [ngTemplateOutletContext]="{ $implicit: row, 'key': key }"
              >
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ columnDefinition[key].formattedValue ? columnDefinition[key].formattedValue(row[key]) : row[key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef style="width: 150px; text-align: right"></th>
        <td mat-cell *matCellDef="let el" style="width: 150px; text-align: right">
          <button mat-button color="primary" (click)="getEntity(el)">Edit</button>
          <button mat-button color="primary" (click)="getEntity(el)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getHeaderDefKeys()"></tr>
      <tr mat-row *matRowDef="let row; columns: getHeaderDefKeys();"></tr>
    </table>
  </div>

  <mat-paginator [length]="page" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #multiValue let-row let-key="key">
  <mat-chip-list *ngFor="let item of row[key]">
    <mat-chip style="font-size: 0.8em">{{ item[columnDefinition[key].accessor]}}</mat-chip>
  </mat-chip-list>
</ng-template>
