<mat-toolbar color="primary">
  <mat-toolbar-row>
    <ng-container [ngTemplateOutlet]="placeholderRef"></ng-container>

    <span>DWH Portal</span>
    <span class="spacer"></span>

    <ng-container *ngIf="isAuthenticated">
      <button mat-button>{{ user.firstName }} {{ user.lastName }}</button>
      <button mat-button (click)="onLogout()">
<!--        <mat-icon class="icon" aria-hidden="false" aria-label="Example user verified icon">-->
<!--          exit_to_app-->
<!--        </mat-icon>-->
        Log out</button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
